{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h2>
        Sobre:<br><br>
        Este é um projeto desenvolvido para uma vaga na <a href="https://devnology.com.br/">Devnology</a> (empresa especializada
        em criar tecnologias para negócios com ampla experiência no mercado).<br>

        A proposta do projeto é um sistema para agência de veiculos.<br><br>
        Feito utilizando:

        <ul>
            <li>Python</li>
            <li>JavaScript</li>
            <li>HTML & CSS</li>
            <li>Django</li>
            <li>Rest Framework</li>
        </ul>

    </h2>
</div>

{% endblock %}