{% extends 'base.html' %}
{% block content %}
<h1>Vendidos</h1>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>ID</th>
                <th>Carro</th>
                <th>Vendedor</th>
                <th>Comprador</th>
                <th>Lucro</th>
            </tr>
        </thead>
        <tbody>
            {% for venda in vendas %}
            <tr>
                <td>{{ venda.id }}</td>
                <td>{{ venda.carro }}</td>
                <td>{{ venda.vendedor }}</td>
                <td>{{ venda.comprador}}</td>
                <td>{{ venda.lucro }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}